* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}


.container {
    flex: 0.6;
    background-color: lightsteelblue;
    position: relative;
    top: -1.5em;
    padding: 2em;
    width: 90vw;
    height: 92vh;
    margin: 0 0 0 2em;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1px;


}

.controls {
    flex: .4;
    position: relative;
    left: 3em;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
