* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    overflow: hidden;
}


.container {
    flex: 0.6;
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 2em;
    width: 90vw;
    height: 92vh;
    margin: 0 0 0 2em;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1px;


}

.controls {
    flex: .4;
    height: 90vh;
    position: relative;
    left: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.players-container, .diceroll-display {
    background-color: white;
    width: 70px;
    height: 60px;
}

.player1, .player2 {
    width: 30px;
    height: 30px;
    margin: auto;
    text-align: center;
}

.player1 {
    background-color: red;
}

.player2 {
    background-color: blue;
}



main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.player1-button, .player2-button {
    padding: 8px 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    transition: 3s ease-in-out;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: 600;

}

.player1-button {
    background-color: red;
}

.player2-button {
    background-color: blue;
}

.diceroll-display {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}
